// COMBAT
.combat__info {
  height: 3rem;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    width: 33%;
    padding: 1rem 2rem;
    border-radius: 10px 10px 0 0;
    background: var(--gray800);
    box-sizing: var(--shadow900);
    height: 3rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      transform: translateY(-2px);
    }
  }
  span {
    margin-left: 0.5rem;
    color: var(--gray100);
  }
  img {
    margin: 0;
    height: 4rem;
  }
}
.combat__container {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  margin: 0.8rem 0;
  min-height: 80%;
  width: 100%;
  margin-top: 1.5rem;
}
.catcombat__container {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  width: 100%;
  position: relative;
}
.catcombat__section {
  border-top: solid 1.3rem transparent;
  background: var(--gray800);
  box-shadow: var(--shadow900);
  padding: 1rem;
  width: 50%;
  &-active {
    border-color: var(--amber500);
  }
}
.catcombat__status {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  border-radius: 10px;
  background: var(--gray900);
  box-shadow: var(--shadow900);
}
.statusBar__container {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
}

.catcombat__armour {
  margin-top: 0.7rem;
  padding: 1rem;
  background: var(--blue700);
  color: var(--blue100);
  font-size: 2rem;
  border-radius: 0px 0px 50% 50%;
  height: 1.5rem;
}

.catcombat__hotbar {
  background: var(--gray900);
  box-shadow: var(--shadow900);
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 10px;
  &-attacks {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
}
.catcombat__description {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  width: 100%;
  &-info {
    width: 50%;
    background: var(--gray900);
    box-shadow: var(--shadow900);
    border-radius: 10px;
    padding: 1rem;
  }
  &-rotation {
    width: 50%;
    background: var(--gray900);
    box-shadow: var(--shadow900);
    border-radius: 10px;
    padding: 1rem;
    ul {
      margin: 0;
      li {
        text-transform: capitalize;
        text-align: left;
        width: auto;
        background: var(--gray800);
        border-radius: 5px;
        height: 1.8rem;
        margin: 0.5rem 0;
        padding: 0.5rem 0;
        padding-left: 1rem;
        border: solid 3px transparent;
      }
    }
  }
  &-rotationActive {
    border: solid 3px var(--blue700) !important;
  }
}
.catcombat__enemy {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  margin: 0.5rem 0;
  &-info {
    width: 50%;
    background: var(--gray900);
    box-shadow: var(--shadow900);
    border-radius: 10px;
    padding: 1rem;
  }
  &-description {
    h3 {
      margin: 0;
    }
    text-transform: capitalize;
    width: 100%;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-image {
    min-height: 17rem;
    width: 50%;
    background: var(--gray900);
    box-shadow: var(--shadow900);
    border-radius: 10px;
    padding: 1rem;
  }
}

.map__container {
  background: var(--gray800);
  box-shadow: var(--shadow900);
  width: 100%;
  padding: 2rem;
  gap: 2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.map__map {
  width: 45%;
  display: grid;
  gap: 0.1rem;
  background: var(--gray800);
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  border-radius: 15% 25%;
  box-shadow: var(--shadow900);
  background-position: left center;
  background-size: contain;
  &-item {
    cursor: pointer;
    box-shadow: var(--shadow500);
    background: var(--gray900);
    color: var(--gray100);
    border: none;
    border-radius: 8px;
    &:hover,
    &:focus {
      transform: translateY(-2px);
    }
  }
}
.map__info {
  width: 50%;
}
.map__enemy {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-radius: 10px;
  background: var(--gray900);
  padding: 1rem;
  margin: 0.8rem 0;
  width: fit-content;
  &-image {
    height: 4rem;
    width: 4rem;
    margin: 0;
  }
  &-info {
    width: 89%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    h3 {
      margin-bottom: 0.8rem;
    }
    p {
      margin: 0;
      font-size: 0.9rem;
    }
  }
  &-buttons {
    display: flex;
    flex-wrap: nowrap;
    .loot {
      background: var(--blue800);
      color: var(--blue100);
    }
    .fight {
      background: var(--red600);
      color: var(--red100);
    }
    button {
      height: 1.5rem;
      padding: 0.4rem 2rem;
      border: none;
      cursor: pointer;
      margin: 0 0.5rem;
      border-radius: 5px;
      box-shadow: var(--shadow500);
      &:hover {
        transform: translateY(-2px);
      }
    }
  }

  &-stats {
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1rem;
  }
  &-statValue {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    img {
      height: 2rem;
      width: 2rem;
      margin: 0;
    }
  }
  &-fight {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

// ATTACKS
.attackloadout {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  margin: 0.8rem 0;
  min-height: 80%;
  margin-top: 1.5rem;
}
.attackloadout__equipped {
  background: var(--gray800);
  box-shadow: var(--shadow900);
  width: 80%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  &-attacks,
  &-talents {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
  }
  &-slot {
    height: 5.5rem;
    border-radius: 10px;
    padding: 1rem;
    background: var(--gray900);
    box-shadow: var(--shadow900);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    span {
      font-size: 4rem;
      color: var(--gray100);
    }
  }
}
.attackloadout__info {
  background: var(--gray800);
  box-shadow: var(--shadow900);
  width: 20%;
  padding: 1rem;
  h3 {
    text-transform: capitalize;
  }
}
.attacksloadout__stats {
  display: flex;
  flex-wrap: wrap;
  &-description {
    margin: 0.1rem 0;
    width: 100%;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    span {
      font-weight: 800;
      color: var(--gray500);
      font-size: 1rem;
    }
  }
}
.attackloadout__eqiup {
  width: 100%;
  border: none;
  border-radius: 7px;
  padding: 0.5rem 0rem;
  background: var(--blue800);
  color: var(--blue100);
  margin-top: 0.8rem;
  margin-left: auto;
}

.attacks__container {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  background: var(--gray800);
  padding: 1rem;
}

.attacks__button {
  border: none;
  border-radius: 10px;
  box-shadow: var(--shadow500);
  height: 5.5rem;
  width: 5.5rem;
  background: var(--gray800);
  border: solid 3px transparent;
  cursor: pointer;
  position: relative;
  &:hover {
    transform: translateY(-2px);
  }
  &-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    img {
      margin: 0;
    }
  }
  &-stats {
    position: relative;
    height: 100%;
    width: 100%;
    span {
      font-size: 0.9rem;
      padding: 0.1rem;
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      text-align: center;
      border: solid black 2px;
    }

    &-topLeft {
      background: var(--blue700);
      color: var(--blue100);
      border-radius: 10px 20px 30px 10px;
      top: -10px;
      left: -10px;
    }
    &-topRight {
      background: var(--green800);
      color: var(--green100);
      border-radius: 30px;
      top: -10px;
      right: -10px;
    }
    &-bottomRight {
      background: var(--red700);
      color: var(--red100);
      border-radius: 30px 10px 10px 30px;
      bottom: -10px;
      right: -10px;
    }
  }
}
.attacks__button-general {
  border: solid 3px var(--violet700);
}
