.exp {
  height: 5rem;
  width: 100%;
  background: var(--gray800);
  box-sizing: var(--shadow900);
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  font-size: 1rem;
  &__level {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 2px;
    font-weight: 900;
  }
  &__progressbar {
    height: 1rem;
    width: 100%;
    border-radius: 10px;
    background: var(--green900);
    position: relative;
    z-index: 1;
    &-inner {
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;
      height: 1rem;
      width: 100%;
      border-radius: 10px;
      background: var(--green500);
      transform: scaleX(0);
      transform-origin: top left;
      transition: transform 0.3s ease-in;
      will-change: transform;
    }
  }
  &__required {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.statusBar {
  height: 1.5rem;
  width: 100%;
  border-radius: 3px;
  background: var(--blue900);
  position: relative;
  z-index: 1;
  &-inner {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    height: 1.5rem;
    width: 100%;
    // border-radius: 3px;  causes issues for some reason when the status values are really small
    background: var(--red500);
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease-in;
    will-change: transform;
  }
}
.statusBar-innerPopup {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  top: -10px;
  width: 1rem;
  height: 1rem;
  font-weight: 900;
  font-size: 1.2rem;
}

.generic__button {
  cursor: pointer;
  background: var(--blue700);
  color: var(--blue100);
  box-shadow: var(--shadow100);
  padding: 0.5rem 1rem;
  margin: 0.3rem;
  border: none;
  border-radius: 7px;
  &:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow900);
  }
}
.generic__button-fit {
  width: 100%;
  padding: 0.5rem 0;
  margin: 0.3rem 0;
}

.generic__button-primary {
  background: var(--blue900);
  color: var(--blue100);
}
.generic__button-secondary {
  background: var(--red900);
  color: var(--red100);
}

.fadeOut {
  opacity: 0;
  transition: width 0.3s 0.3s, height 0.3s 0.3s, opacity 0.3s;
}
.fadeIn {
  opacity: 1;
  transform: translateY(-20px);
  transition-property: transform;
  transition-duration: 5s;
  transition-delay: 0.1s;
}
