.game__container {
  border-radius: 5px;
  padding: 2rem;
  grid-column: 2;
  grid-row: 2;
  box-sizing: var(--shadow900);
}

.talents {
  height: 8rem;
  width: 100%;
  background: var(--gray800);
  box-sizing: var(--shadow900);
  margin: 0.8rem 0;
}

.progression {
  width: 100%;
  background: var(--gray800);
  box-shadow: var(--shadow500);
  border-radius: 0 0 10px 10px;
  &__container {
    width: 100%;

    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  &__body {
    display: flex;
    padding: 1rem;
    min-height: 97px;
    &-icon {
      width: 5rem;
      height: 5rem;
      background: var(--gray900);
      border-radius: 50% 25%;
      padding: 0;
      margin: 0;
    }
    &-details {
      margin-left: 5rem;
      font-size: 1rem;
      display: flex;
      flex-wrap: wrap;
      align-content: space-evenly;
    }
    &-name {
      width: 100%;
      text-transform: capitalize;
      font-size: 1.2rem;
    }
    &-data {
      width: 100%;
      font-size: 1rem;
    }
  }
}

.actions {
  width: 100%;
  min-height: 32rem;
  height: auto;
  margin: 0.8rem 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 3rem;
  &__generic {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }
  &__title {
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 2px;
    font-weight: 900;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    background: var(--amber700);
    color: var(--amber100);
    border-radius: 0;
    height: 2rem;
    padding: 0.5rem 0;
  }
  &__title svg {
    font-size: 2rem;
    padding-left: 1rem;
  }
}

.actions__items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
  margin-top: 2rem;
}
.action__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1rem;
  padding: 2rem;
  border-radius: 10px;
  transition: transform 0.2s;
  width: 13rem;
  height: 18rem;
  background: var(--gray800);
  color: var(--gray200);
  box-shadow: var(--shadow500);
  border: none;
  border-top: solid 10px transparent;
  cursor: pointer;
  &:hover,
  &:focus {
    transform: translateY(-2px);
    box-shadow: var(--shadow900);
    border-top: solid 10px var(--blue700);
  }
  &:focus {
    transform: translateY(0px);
    border-top: solid 10px var(--amber500);
  }
  &-icon {
    width: 6rem;
    height: 6rem;
    background: var(--gray900);
    border-radius: 50% 25%;
    padding: 0;
  }
  &-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  &-name {
    padding: 0.4rem 0;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.2rem;
  }
  &-level {
    padding: 0.4rem 0;
    width: 100%;
    font-size: 1rem;
  }
  &-details {
    width: 100%;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    gap: 0.2rem;
  }
}

.game__normal {
  width: 100%;
  height: 100%;

  margin: 0.8rem 0;
}

// BANK
.bank__info {
  background: var(--gray800);
  box-sizing: var(--shadow900);
  height: 2rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0 0;
}
.bank__container {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  margin: 0.8rem 0;
  min-height: 80%;
}
.bank__items {
  width: 60%;
  padding: 2rem;
  background: var(--gray800);
  box-sizing: var(--shadow900);
  &-inner {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2.3rem 1rem;
    height: auto;
    width: 100%;
  }
  &-singleItem {
    cursor: pointer;
    transform: scale(100%);
    padding: 0;
    background: var(--gray900);
    color: var(--gray200);
    box-shadow: var(--shadow500);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    font-size: 0.8rem;
    position: relative;
    max-width: 6rem;
    width: 6rem;
    height: 5rem;
    z-index: 10;
    transition: transform ease-in 100ms;
    border: none;
    &:hover,
    &:focus {
      transform: scale(105%);
      box-shadow: var(--shadow900);
      background: var(--blue700);
    }
  }
  &-image {
    height: 2.5rem;
    width: 100%;
    background: var(--gray700);
    border-radius: 10px 10px 0 0;
    margin: 0;
    padding: 0.2rem;
  }
  &-name {
    width: 100%;
    text-transform: capitalize;
  }
  &-qty {
    z-index: -1;
    position: absolute;
    bottom: -25px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1rem;
    &-inner {
      background: var(--blue700);
      color: var(--blue100);
      padding: 0.2rem 0.8rem;
      border-radius: 10px;
    }
  }
}
.bank__details {
  width: 35%;
  padding: 2rem;
  background: var(--gray800);
  box-sizing: var(--shadow900);
  &-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1rem;
    height: 10rem;
    margin-bottom: 3rem;
  }
  &-icon {
    position: relative;
    width: 10rem;
    height: 10rem;
    background: var(--gray900);
    padding: 0;
    border-radius: 10px;
    img {
      margin: 0;
      height: 100%;
      width: 100%;
    }
    .bank__details-icon-qty {
      position: absolute;
      bottom: -25px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 1rem;
      span {
        background: var(--blue700);
        color: var(--blue100);
        padding: 0.2rem 0.8rem;
        border-radius: 10px;
      }
    }
  }
  &-body {
    padding: 1rem;
    width: 100%;
    background: var(--gray900);
    border-radius: 10px;
    h4 {
      text-transform: capitalize;
      font-size: 1.8rem;
      margin-bottom: 0;
    }
    p {
      margin-top: 0.5rem;
      font-size: 1rem;
    }
  }
  .bank__details-sale {
    background: var(--gray900);
    border-radius: 10px;
  }

  .bank__details-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  .bank__details-button {
    color: var(--blue100);
    background: var(--blue700);
    border-radius: 10px;
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    border: none;
  }
}
